<div class="signup-wrapper">
  <form [formGroup]="signup_form" (ngSubmit)="onSubmitSignup()">
    <div  class="signup-form">
      <div class="basic-input">
        <label>Username</label>
        <input
          matInput
          placeholder="Simke02"
          value=""
          formControlName="username"
        />
      </div>
  
      <div class="basic-input">
        <label>First Name</label>
        <input matInput value="" formControlName="first_name" />
      </div>
  
      <div class="basic-input">
        <label>Last Name</label>
        <input matInput value="" formControlName="last_name" />
      </div>
  
      <div class="basic-input">
        <label>Password</label>
        <input matInput type="password" value="" formControlName="password" />
      </div>
  
      <button mat-button color="primary" [disabled]="!this.signup_form.valid">Sign up</button>
    </div>
  </form>
</div>