# Application
NODE_ENV=production

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_DATABASE=road_to_glory
DB_SYNCHRONIZE=true

# JWT Secret
JWT_SECRET=RFNTQXNkYXMyMWUxKmRzYWRzYQ==

# CORS
CORS_ORIGIN=http://localhost:4200
