/* Glavni stil za centriranje sadržaja */
.lobby-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f; /* Tamna pozadina */
  }
  
  .waiting-message {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    letter-spacing: 0.1rem;
    position: relative;
  }
  
  /* Stil za treptanje tačaka */
  .dot-flashing {
    position: absolute;
    top: 0;
    right: -40px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    animation: dot-flashing 1s infinite linear alternate;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #ffffff;
    }
    50%,
    100% {
      background-color: #7f7f7f;
    }
  }